
<kendo-dialog *ngIf="dialogOpened" (close)='closeDialog()'>

    <kendo-dialog-titlebar>
        Kendo Dialog(-Service) Test - DialogFullComponent
    </kendo-dialog-titlebar>

    <div>
        <p>Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
            Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. Dies ist der Inhalt des Dialogs. 
        </p>
    </div>

    <!-- <kendo-dialog *ngIf="anstellungDialog" i18n-title="@@header.Anstellungen" title="Anstellungen" style="max-height: 50%;" [width]="1400" (close)="closeDialog()">
        <groot-anstellung-list (selection)="selectionChanged($event)"></groot-anstellung-list> -->

    <kendo-dialog-actions>
        <button kendoButton (click)="dialogFull_cancel()" [primary]="false">Abbrechen</button>
        <button kendoButton (click)="dialogFull_ok()" [primary]="true">Ok</button>
    </kendo-dialog-actions>

</kendo-dialog>





